################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01HowWork/.vs/01HowWork/v16
/02LinkerWork/.vs/02LinkerWork/v16
/VariablesC++/.vs/VariablesC++/v16
/07Pointers/.vs/07Pointers/v16
