################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01HowWork/.vs/01HowWork/v16
/02LinkerWork/.vs/02LinkerWork/v16
/VariablesC++/.vs/VariablesC++/v16
/07Pointers/.vs/07Pointers/v16
/08Reference/.vs/08Reference/v16
/09Classes/.vs/09Classes/v16
/10StaticC++/.vs/10StaticC++/v16
